body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #2874f0;
}

header{
    margin: 0 auto;
    padding: 0 ;
    height: 50px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
nav ul li {
    height: 100%;
    padding: 0px 7px 0px 7px;

}

nav a{
    text-decoration : none;
    font-size: 1.2rem;
    color: white;
    padding: 0;
}
.logoimage{
    height:50px ;
    padding: 0;
    margin: 0;   
}
.searchBox{
    padding: 0px 7px 0 7px;
    width: 400px;
    margin: 0 5px 0 2px;
    border: none;
    height: 26px;
}

.loginBtn{
    color: #2874f0;
    font-weight: 500;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    width: 69px;
    height: 20px;
    border: 1px solid #dbdbdb;
    padding-left: 5px;
}


.category-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 2px 40px;
    margin: 7px 40px;
    background-color: white;
}
.category-flex > div{
    flex-basis: 9%;
    text-align: center;

}
.category-flex img{
    height: 44px;
    width: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.category-flex p{
    font-size: 13px;
}
.category-flex select{
    border:none;
    background-color: white;
}


.sectionclass{
    margin: 7px 80px;
    padding: 2px 40px;
    height: 230px;
    background-color: white;
    
}
.sectionHeader{
    
    padding-top: 9px;
    margin: 3px 0px;
    width: 100%;
    height: 30px;
    float: left;
}
.sectionHeader button{
    margin-right: 3px;
    /* margin-left: -2%;  */
    float: right;
    text-align: center;
    border : none;
    background-color: #2874f0;
    color: white;
    font-weight: 500;
    height: 23px;
    width: 50px;
}
.sectionHeader small{
    margin-top: 3px;
    padding: 2px;
    font-size: 10px;
    color: gray;
}
.deal-flex{
    margin: 7px;
    padding: 6px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    gap: 2%;
}
.deal-flex > div{
    height: auto;
    flex-basis: 15%;
    
    
}
.deal-flex  img{
    display: block;
    padding: 2px;
    margin: 10px auto ;
    width: 100px;
    height: 100px;
    padding: 2px;
}
.deal-flex h2{
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    padding: 2px;
    margin: 2px;
    text-overflow: ellipsis;

}
.deal-flex p{
    text-align: center;
    color: rgb(42, 122, 42);
    padding: 2px;
    margin: 1px;
    font-size: 10px;
    font-weight: 500;
}
.deal-flex small{
    text-align: center;
    font-size: 9px;
    color: gray;
    display: block;
}